.tab-controls {
    display: inline-flex;
    padding: 6px;
    align-items: center;
    border-radius: 44px;
    background-color: #EEEEEE;

    @include mobile-large() {
        display: none;
    }
}

.tab-controls__btn {
    height: 45px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;

    font-size: 18px;
    line-height: 1.85;
    font-weight: 500;
    color: rgba(31, 31, 31, 0.8);
    border-radius: 32px;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: rgba(255, 255, 255, 0.75);
    }

    &--active {
        background-color: #FFFFFF;

        &:hover {
            background-color: #FFFFFF;
        }
    }
}